/* common class */
/* CSS for the loader */
.loader {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  z-index: 9999; /* Make it appear on top of other elements */
}

.loader::after {
  content: ""; /* Empty content */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* Half of the height of your loader */
  margin-left: -25px; /* Half of the width of your loader */
  border: 5px solid #3498db; /* Loader color */
  border-top: 5px solid transparent; /* Transparent border on top */
  border-radius: 50%; /* Makes it a circle */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } /* Spin the loader 360 degrees */
}

.toast {
  box-sizing: border-box;
  border: 1px solid var(--eucalyptus);
  background-color: var(--light-green);
  color: var(--eucalyptus);
  font-weight: 700;
  padding: 10px;
  position: fixed;
  border-radius: 7px;
  z-index: 100;
  transition: all ease-in-out 1s;
  width: 350px;
  top: 20%;
  right: 0;
  transform: translateX(calc(100% + 10px));
}

.toast.show {
  transform: translateX(-20px);
  transition: all ease-in-out 1s;
}

:root {
  --eucalyptus: #27ae60;
  --light-green: #e1ffee;
  --white: #f9f5f0;
  --red: #ff6262;
  --hover-color: #8bd39e;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  font-size: 24px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.top-btns {
  /*Filter and add employee buttons*/
  border: none;
  background-color: var(--eucalyptus);
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  padding: 1px 4px;
  align-items: center;
  align-self: center;
  border-radius: 7px;
  border: 1px solid var(--eucalyptus);
  transition: 0.6s;
}

.top-btns:hover {
  background-color: var(--white);
  color: var(--eucalyptus);
  border: 1px solid var(--eucalyptus);
}

.open {
  display: block;
}

.close {
  display: none;
}

.arrow.close {
  display: block;
  visibility: hidden;
}

.arrow {
  display: block;
  visibility: visible;
}

.overlay.open {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 2;
}

li {
  padding: 20px 5px;
  border-bottom: 1px solid var(--eucalyptus);
  font-size: 14px;
  font-weight: 500;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
}

li:hover {
  background-color: var(--hover-color);
  border-radius: 0;
}

.skill-list li:nth-child(even):hover {
  background-color: var(--hover-color);
}
/* header */

header {
  background-color: var(--eucalyptus);
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding: 10px 0;
}

.search-parent {
  position: relative;
}

.search-submit {
  position: absolute;
  right: 13px;
  top: 14px;
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

#search {
  width: 250px;
  height: 60px;
  background-color: var(--white);
  border: none;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 45px;
  font-size: 14px;
}

#search::placeholder {
  color: var(--eucalyptus);
  font-weight: 700;
  font-size: 14px;
  opacity: 1;
}

/* form section */

.add-filter-section {
  margin-top: 40px;
  justify-content: space-between;
}

.sort-btn {
  width: 150px;
  height: 60px;
  gap: 10px;
  border-radius: 7px;
}

.filter-search {
  height: 100%;
  width: 94%;
  border: 1px solid var(--eucalyptus);
  border-radius: 7px;
  padding-left: 10px;
}

.add-employee-btn {
  width: 195px;
  height: 60px;
  gap: 10px;
  padding: 1px 10px;
  cursor: pointer;
}

.add-employee-btn .add-employee-icon {
  font-size: 30px;
}

.filter-btn .filter-icon {
  font-size: 30px;
}

.filter-btn .down-arrow {
  font-size: 24px;
  font-weight: 700;
}

/* Filter */

.filter {
  position: relative;
  max-width: 238px;
  height: 60px;
}

.filter .search-filter {
  position: absolute;
  right: 13px;
  top: 15px;
  color: var(--eucalyptus);
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}

.skill-list {
  list-style-type: none;
  position: absolute;
  padding-left: 0px;
  top: 46px;
  background-color: var(--white);
  border: 1px solid var(--eucalyptus);
  border-radius: 7px;
  width: 165px;
  cursor: pointer;
  z-index: 5;
  overflow: auto;
  max-height: 300px;
}

.skill-list li:nth-child(even) {
  background-color: var(--light-green);
}

#skill-search {
  border: none;
  border-bottom: 1px solid var(--eucalyptus);
  width: 83%;
  padding: 0 5px 0 23px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 60px;
  font-size: 16px;
}

#skill-search::placeholder {
  font-weight: 300;
  font-size: 13px;
}

.skill-input {
  position: relative;
}

.skill-search-icon {
  position: absolute;
  top: 20px;
  width: 20px;
}

.selected-skills {
  white-space: nowrap;
  overflow: auto;
  padding: 10px 0;
  gap: 10px;
}

.individual-skills {
  gap: 10px;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid var(--eucalyptus);
  padding: 5px;
}

.individual-skills:nth-child(even) {
  background-color: var(--light-green);
}

.individual-skills p {
  font-size: 15px;
}

.cancel,
.add-skills-remove {
  cursor: pointer;
  transition: 0.5s;
}

.cancel:hover,
.add-skills-remove:hover {
  transform: scale(0.8);
}
/*table*/

table {
  width: 100%;
  margin: 80px 0;
  border: 5px solid var(--eucalyptus);
}

th {
  background-color: var(--eucalyptus);
  font-size: 18px;
  color: var(--white);
  padding: 0;
}

td {
  font-size: 16px;
  font-weight: 400;
  padding: 0 15px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--eucalyptus);
  height: 60px;
  transition: 0.6s;
}

tbody tr {
  cursor: pointer;
}

tr:hover {
  background-color: var(--hover-color);
}

tr:nth-child(even) {
  background-color: var(--light-green);
  transition: 0.6s;
}

tr:nth-child(even):hover {
  background-color: var(--hover-color);
}

.arrow {
  transition: transform 0.5s;
}
.arrow-direction {
  height: 60px;
  align-items: center;
  gap: 5px;
  padding: 0 15px;
  cursor: pointer;
}

.edit-delete-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.action-icons {
  gap: 50px;
}

/* Add Employee modal */

.close-add-edit-icon {
  align-self: flex-end;
  cursor: pointer;
  transition: 0.3s;
}

.close-add-edit-icon:hover {
  transform: scale(0.8);
}

.add-edit-employee-modal {
  min-width: 1000px;
  margin: 0 auto;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  max-height: 80vh;
  overflow: auto;
  padding: 20px;
  border-radius: 7px;
}

.add-edit-employee-head {
  align-items: center;
}

.add-edit-profile-photo {
  width: 150px;
  height: 150px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.add-edit-employee-form {
  width: 100%;
  margin-top: 50px;
  gap: 50px;
}

.details {
  justify-content: space-around;
  margin: 0 20px;
}

.label-input {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.err {
  visibility: hidden;
  font-size: 10px;
  color: red;
}

.err.visible {
  visibility: visible;
}

.add-edit-employee-form label {
  font-size: 16px;
}

.add-edit-employee-form input {
  height: 45px;
  border: 1px solid var(--eucalyptus);
  width: 300px;
  padding-left: 10px;
}

.add-edit-employee-form textarea {
  height: 45px;
  border: 1px solid var(--eucalyptus);
  width: 300px;
  padding: 14px 2px 15px 10px;
  resize: none;
  height: 18px;
}

.field-space {
  gap: 50px;
}

.role-parent {
  position: relative;
}

.department-parent {
  position: relative;
}

.work-location-parent {
  position: relative;
}

.skill-parent {
  position: relative;
}

.list-style {
  list-style-type: none;
  position: absolute;
  padding-left: 0px;
  top: 33px;
  background-color: var(--white);
  border: 1px solid var(--eucalyptus);
  border-radius: 7px;
  width: 165px;
  right: 147px;
  z-index: 10;
  max-height: 250px;
  overflow: auto;
}

.list-style li:nth-child(even) {
  background-color: var(--light-green);
}

.list-style li:nth-child(even):hover {
  background-color: var(--hover-color);
}

.add-selected-skills {
  position: absolute;
  width: 300px;
  overflow: auto;
  white-space: nowrap;
  overflow: auto;
  padding: 10px 0;
  gap: 10px;
}

.add-update-btn {
  border: 1px solid var(--eucalyptus);
  background-color: var(--eucalyptus);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  width: 210px;
  height: 45px;
  border-radius: 7px;
  align-self: center;
  border: 1px solid var(--eucalyptus);
  transition: 0.3s;
}

.add-update-btn:hover {
  background-color: var(--white);
  color: var(--eucalyptus);
  border: 1px solid var(--eucalyptus);
}

/* View Employee Modal */

.view-employee-modal {
  width: 1000px;
  margin: 0 auto;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  min-height: 600px;
  overflow: auto;
  border-radius: 7px;
}

.close-view-icon {
  align-self: flex-start;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
  box-sizing: border-box;
  width: 5%;
}

.close-view-icon:hover {
  transform: scale(0.8);
}

.left-bar {
  background-color: var(--eucalyptus);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  padding: 70px 20px 20px;
  align-items: center;
  gap: 50px;
  width: 20%;
  box-sizing: border-box;
}

.profile-photo-circle {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--white);
  overflow: clip;
}

.profile-photo-circle .profile-photo-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-bar {
  padding: 20px;
  width: 75%;
  box-sizing: border-box;
}

.personal-details {
  justify-content: center;
  gap: 50px;
  width: 50%;
}

.skill-details {
  justify-content: center;
  width: 50%;
  gap: 10px;
}

#skills textarea {
  resize: none;
}

.show-skills {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--eucalyptus);
  background-color: var(--light-green);
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.name-display {
  font-size: 24px;
  font-weight: 700;
}

.role-display {
  font-size: 20px;
  font-weight: 500;
}

.address-display {
  border: none;
  resize: none;
  padding: 0;
  overflow-x: auto;
  height: 70px;
}

.address-display-container {
  /* overflow: auto; */
  box-sizing: border-box;
}

/* delete modal */
.delete-update-modal {
  max-width: 380px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
  border: 5px solid var(--red);
  justify-content: space-around;
  padding: 0 10px;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  /* min-height: 600px; */
  overflow: auto;
  border-radius: 7px;
}

.cancel-button {
  border: 1px solid var(--eucalyptus);
  background-color: var(--eucalyptus);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  width: 110px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid var(--eucalyptus);
  transition: 0.3s;
}

.cancel-button:hover {
  background-color: var(--white);
  border: 1px solid var(--eucalyptus);
  color: var(--eucalyptus);
}

.delete-button,
.update-button {
  border: 1px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  width: 110px;
  height: 45px;
  border-radius: 7px;
  border: 1px solid var(--red);
  transition: 0.3s;
}

.delete-button:hover,
.update-button:hover {
  background-color: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
}

.confirm-modal-btns {
  gap: 80px;
}
