* {
  box-sizing: border-box;
}
:root {
  --primary: #27ae60;
  --secondary: #e1ffee;
  --tertiary: #fecda6;
  --font-color: #a9a9a9;
  --light: #f9f5f0;
  --dark: #262626;
  --red: #ff6262;
  --hover-color: #8bd39e;
}
html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: var(--light);
}

::-webkit-scrollbar {
  width: 10px;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.close {
  display: none;
}

.open {
  display: block;
}
